body {
    font-family: serif;
   margin-left: 0px;
   margin-right: 0px;
   margin-top: 0;
   margin-bottom: 0;
   color: orange;
   
 }
 #bg,html{
     background-image: url('images/bg1.jpg');
   height: 100%;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
 }
 h1{
    margin-top: 0px;
    font-size: 50px;
    padding-top: 20px;
    text-align: center;
    font-family: sans-serif;
 }
  a{
     text-decoration: none;
     color: yellow;
     display: flex;
 }
 a:hover{
     background-color: orange;
     color: blue;
     border: 1px solid orangered;
 }
 @media (max-width: 800px) {
 p {
   font-size:20px;
  }
}
 #user{
     margin-left: 10px;
     color: ghostwhite;
     font-size: 40px;
     font-family: monospace;
 }
 #wel_msg{
     padding-bottom: 250px;
     color: ghostwhite;
     font-size: 30px;
     text-align: center;
     padding-top: 20px;
     cursor: pointer;
 }